ansicon==1.89.0
autopep8==1.6.0
blessed==1.19.1
certifi==2022.12.7
charset-normalizer==2.0.12
idna==3.4
inquirer==2.10.0
jinxed==1.2.0
mysql-connector-python==8.0.31
prettytable==3.5.0
protobuf==3.20.2
pycodestyle==2.8.0
pyfiglet==0.8.post1
python-dotenv==0.21.0
python-editor==1.0.4
readchar==4.0.3
requests==2.27.1
simple-chalk==0.1.0
six==1.16.0
texttable==1.6.4
toml==0.10.2
urllib3==1.26.12
wcwidth==0.2.5
